# Server Configuration
PORT=3000

# Session Directory for WhatsApp Web
SESSION_DIR=./sessions

chrome_path=/usr/bin/chromium-browser

# Signal Configuration
SIGNAL_API_PORT=8080
SIGNAL_API_URL=http://localhost:8080
SIGNAL_NUMBER=+491234567890

