{
  "groupMappings": {
    "123456789@g.us": {
      "signalGroupId": "group.signal1",
      "name": "Beispiel Gruppe 1",
    }
  },
  "settings": {
    "enableGroupSync": true,
    "forwardUserNames": true,
    "messagePrefix": "🟢",
    "enableMediaSync": true,
    "logGroupMessages": true
  }
}
